div {
    display: block;
}

.navbar-paciente {
    height: 70px;
    background-color: #00a8b3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px -2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    z-index: 200;
}

.body-paciente {
    background: #f6f6f6;
    min-height: 85vh;
    display: flex;
    margin-top: 70px;
}

.info-paciente {
    display: flex;
    align-items: center; 
}

.turnos-solicitados {
    background: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    margin-top: 50px;
    padding: 5px;  
}

.solicitud-turnos {
    background: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    margin-top: 50px;
    padding: 20px;
}

.panel-m {
    background-color:#00a7b338;
    margin-top: 50px;
    padding: 5px; 
}

.titulo-medico {
    text-align: center;
    margin-top: 30px;
}

